body {
	/*font-family: 'Hind', sans-serif;*/
	font-family: 'Oxygen', sans-serif;
	background-image: url('/flock.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

h4 {
	text-decoration: underline;
}

#centerMe {
	text-align: center;
}

#centerMeTable {
	text-align: center;
	margin-top:12px;
}

#banner {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	margin-top: 0px;
}

#title {
	color: black;
	font-size: 12px;
}

#flockpad {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

#bio {
	font-size: 16px;
	width: 50%;
	margin: auto;
}

#search {
	margin-right: 8px;
}

#form-left {
  width: 33%;
  float: left;
}

#form-center {
  width: 33%;
  float: left;
}

#form-right {
  width: 33%;
  float: right;
}

#pie {
	width: 30%;
	height: 30%;
}

#inline {
	margin-left: 2%;
	display:flex; 
	flex-direction:row;
}

#deadlines {
	margin-right: 4%;
	text-align: center;
	width: 30%;
}

#activeSubs {
	width: 30%;
	margin-left: 4%;
}