body {
	/*font-family: 'Hind', sans-serif;*/
	font-family: 'Oxygen', sans-serif;
	background-image: url('/flock.jpg');
	background-position: center;
}

#centerMe {
	text-align: center;
}

#banner {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
}

#title {
	color: black;
}

#flockpad {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}